---
import "./styles.css";

interface Props {
    title: string;
    description: string;
    pubDate: Date;
    tags: string[];
    slug: string;
    minutesRead?: number;
    draft?: boolean;
}

const { title, description, pubDate, tags, slug, minutesRead } = Astro.props;

const formattedDate = pubDate.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<a href={`/blog/${slug}`} class="post-card-link">
    <article class="post-card">
        <div class="top-accent"></div>
        <div class="post-card-inner">
            <div class="post-meta">
                <time class="post-date" datetime={pubDate.toISOString()}
                    >{formattedDate}</time
                >
                {
                    minutesRead && (
                        <span class="minutes-read">
                            // {minutesRead} min read
                        </span>
                    )
                }
            </div>
            <h2 class="post-title">{title}</h2>
            <p class="post-description">{description}</p>
            {
                tags.length > 0 && (
                    <div class="post-tags">
                        {tags.map((tag) => (
                            <span class="post-tag">{tag}</span>
                        ))}
                    </div>
                )
            }
        </div>
    </article>
</a>
